<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Vrunda</display-name>
  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.scan.providers</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.scan.resources</param-name>
    <param-value>false</param-value>
  </context-param>
  <servlet>
    <servlet-name>VrundaServlet</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
   <!--  <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>com.wm.mas.drivercodeinquiry.RestApplication</param-value>
    </init-param> -->
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.wm.mas.drivercodeinquiry</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>VrundaServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
    </web-app>
  <!--  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Vrunda</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection> 
  <auth-constraint>
      <role-name>MASUSER_ROLE</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>ApplicationRealm</realm-name>
  </login-config>
  <security-role>
    <role-name>MASUSER_ROLE</role-name>
  </security-role> 
  -->
